{
  "branches": [
    {
      "name": "main",
      "channel": "latest"
    }
  ],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "conventionalcommits",
      "releaseRules": [
        {"type": "fix", "release": "patch"},
        {"type": "feat", "release": "minor"},
        {"type": "perf", "release": "patch"},
        {"breaking": true, "release": "major"}
      ]
    }],
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm", {
      "npmPublish": true
    }],
    "@semantic-release/github"
  ]
}
