{
  "branches": [
    {
      "name": "main",
      "channel": "latest"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github"
  ],
  "lastRelease": {
    "version": "1.0.3",
    "gitHead": "HEAD"
  }
}
